.App {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
}

.header {
  padding: 1rem 2rem;
  background: #3b5998;
  display: flex;
  justify-content: space-between;
  align-items: center; /* 항상 정가운데에 위치 */
}

.header h1 {
  color: #fff;
}

.header select {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

section {
  padding: 1rem;
  margin: 0 auto;
}

.wrap {
  padding: 2rem 0;
}